* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Delius", cursive;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}


header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
header .logo {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    padding-left: 15px;
}

header nav {
    width: 350px;
    margin-right: 50px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style-type: none;
    transition: 0.3s ease;
}

header .logo, header nav ul li  {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

header nav ul li .nav-link {
  position: relative;
  text-decoration: none;
  color: black;
}

header nav ul li .nav-link::after {
  content: "";
  position: relative;
  display: inline-block;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  background: black;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

header nav ul li .nav-link:hover::after,
header nav ul li .nav-link.active::after {
  transform: scaleX(1);
}


/* ALL */
.home, .aboutme, .experience, .contact {
    margin: 0px 50px 0 50px;
    min-height: 100vh;
    height: auto;
}

/* Home/Hero Style*/
.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home .hero {
    height: 200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home .hero h1 {
    margin-bottom: -20px;
}

.typing-animation {
  font-family: monospace;
  font-size: 20px;
  white-space: nowrap;
  display: inline-block;
}

/* cursor inside text */
.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}


.home .hero .socials {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .hero .socials #cv {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.3s ease;
}

.home .hero .socials #cv:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 3px #000;
}

.home .hero .socials a img {
    width: 64px;
    height: 64px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    transition: 0.3s ease;
}

.home .hero .socials a img:hover {
    transform: scale(1.05);
}

.home .hero .socials #line-link {
    width: 3px;
    height: 30px;
    background-color: #000;
}

.home .hero-img {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .hero-img img {
    width: 384px;
    height: 384px;
    border-radius: 50%;
    box-shadow: 8px 8px 8px #000;
}

/* About Me Style*/
.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.aboutme .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    min-height: 100%;
    padding-top: 70px;
}

.aboutme .sidebar img {
    margin-top: 50px;
    max-width: 100%;
    height: 200px;
    border: 1px solid #000;
    border-radius: 100px;
}

.aboutme .sidebar .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
    margin-top: 10px;
}

.aboutme .sidebar .skills .personal-info p{
    padding-left: 10px;
}

.aboutme .sidebar .skills div .skillHead {
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    margin-bottom: 10px;
}

.aboutme .sidebar .skills .personal-info,
.aboutme .sidebar .skills .softSkills,
.aboutme .sidebar .skills .interest {
    margin-bottom: 10px;
}

.aboutme .sidebar div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.aboutme .sidebar div ul li {
   list-style-type: none; 
   padding-left: 10px;
}

.aboutme .descriptions {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutme .descriptions h2 {
    padding-top: 70px;
    margin-bottom: -20px;
}

.aboutme .descriptions .para {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px;
    height: auto;
    padding: 15px 20px;
    box-shadow: 0 0 3px #000;
    border-radius: 10px;
    margin-left: 20px;
}

.aboutme .descriptions .para p {
    margin: 0;
}

.aboutme .descriptions #details {
    padding-left: 20px;
}

.aboutme .descriptions .certificates {
    margin-top: -40px;
    padding-left: 10px;
    display: flex;
    justify-content: safe;
}

.aboutme .descriptions .certificates li {
    width: 250px;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    box-shadow: 0px 0px 3px #000;
    transition: 0.3s ease;
    border-radius: 10px;
}

.aboutme .descriptions #achv-cert {
    margin-bottom: 10px;
}

.aboutme .descriptions .certificates li .cert-icons {
    display: flex;
    height: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.aboutme .descriptions .certificates li:hover {
    transform: scale(1.02);
}

.aboutme .descriptions .certificates li a {
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    color: #000;
}

.aboutme .descriptions .certificates li img {
    width: 64px;
    height: 64px;
}

.aboutme .descriptions #langHeader {
    margin-top: -15px;
    margin-bottom: 20px;
}

.aboutme .descriptions .languages {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    margin-left: 20px;
    padding-left: 10px;
    box-shadow: 0 0 3px #000;
    border-radius: 10px;
}

.aboutme .descriptions .languages .techs {
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.aboutme .descriptions .languages .techs .tech-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.aboutme .descriptions .languages .techs .tech-container img {
    width: 32px;
    height: 32px;
    margin: 5px;
    filter: drop-shadow(2px 2px 2px #000);
}

.aboutme .descriptions .languages .techs .tech-container .progress-container {
  --progress: 0%;
  width: 175px;
  height: 12px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  font-size: 12px;
  position: relative;
}

.aboutme .descriptions .languages .techs .tech-container .progress-container::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  z-index: 2;
}

.aboutme .descriptions .languages .techs .tech-container .progress-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #000;
  border-radius: 10px 0 0 10px;
}

.aboutme .descriptions .languages .techs .tech-container .progress-container.animate::after {
  animation: fill 2s forwards;
}

/* Keyframes for each value */

@keyframes fill {
  from { width: 0%; }
  to { width: var(--progress); }
}


.aboutme .descriptions #middle {
    margin-left: 20px;
    font-size: 18px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #000;
    padding: 5px 8px;
    border-radius: 8px;
}
/* Experience Style
.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.experience h2 {
    padding-top: 80px;
}

.experience .organization {
    height: 200px;
    width: 100%;
    padding: 10px   ;
    display: flex;
    align-items: center;
}

.experience .organization .details p {
    width: 350px;
}

.experience .exp-box {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.experience {
    padding-top: 70px;
}

.experience h2 {
    padding: 10px 20px;
    text-align: center;
}

.experience .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "box-1 box-1 box-4"
    "box-3 box-3 box-4"
    "box-2 box-2 box-2";
    gap: 1em;
}

.experience .grid-container .item {
    padding: 2em;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 0 3px #000;
    font-size: 1rem;
    display: flex;
}


.experience .grid-container #oratory,
.experience .grid-container #photography {
    justify-content: space-evenly;
}

.experience .grid-container #education,
.experience .grid-container #work-experience {
    flex-direction: column;
}

.experience .grid-container .item .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.experience .grid-container .item .details #detail-content {
    max-width: 100%;
    font-style: italic;
    margin-right: 20px;
}

.experience .grid-container .item .cert-icons {
    display: grid;
    grid-template-columns: 64px 64px;
    grid-template-rows: 64px 64px;
    justify-content: center;
    gap: 20px;
    margin-top: -5px;
}

.experience .grid-container .item .cert-icons img {
    width: 64px;
    height: 64px;
    border-radius: 15px;
    box-shadow: 0 0 3px #000;
    transition: 0.3s ease-in;
}


.experience .grid-container .item .cert-icons img:hover {
    cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxwYXRoIGZpbGw9IiMwMDAiIGQ9Ik0xMi4wMDMgMjFxLTEuODY2IDAtMy41MS0uNzA4cS0xLjY0My0uNzA5LTIuODU5LTEuOTI0dC0xLjkyNS0yLjg1NlQzIDEyLjAwM3QuNzA5LTMuNTFRNC40MTcgNi44NSA1LjYzIDUuNjM0dDIuODU3LTEuOTI1VDExLjk5NyAzdDMuNTEuNzA5cTEuNjQzLjcwOCAyLjg1OSAxLjkyMnQxLjkyNSAyLjg1N3QuNzA5IDMuNTA5dC0uNzA4IDMuNTF0LTEuOTI0IDIuODU5dC0yLjg1NiAxLjkyNXQtMy41MDkuNzA5IiAvPgo8L3N2Zz4=) 10 10, auto;
    transform: scale(1.04);
}

.experience .grid-container .item h3 {
    margin-bottom: 20px;
}

.experience .grid-container .item .educ-levels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.experience .grid-container .item .educ-levels  p{
    padding-top: 2px;
    padding-left: 15px;
}

/* Contact Style*/
.contact {
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact .contact-content {
    height: 75%;
    max-width: 100%;
}

.contact .contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.contact .contact-left h2 ,
.contact .contact-left p {
    padding: 5px 8px;
}

.contact .contact-left form {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
}

.contact .contact-left form .inputs {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contact .contact-left form .fifty-px {
    height: 50px;
}

.contact .contact-left form .hundredPx {
    height: auto;
    max-width: 100%;
}

.contact .contact-left form .fifty-px, 
.contact .contact-left form .hundredPx,
.contact .contact-left form div input,
.contact .contact-left form div textarea {
    margin-left: 10px;
}

.contact .contact-left form div input {
    height: 40px;
    padding: 5px 8px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 2px #000;
}

.contact .contact-left form div textarea {
    resize: none;
    max-width: 100%;
    min-height: 200px;
    margin-top: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
}


.contact .contact-left form .submit-button {
    display: flex;
    justify-content: end;
    margin: 20px;
}

.contact .contact-left form .submit-button button {
    font-family: "Delius", cursive;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    padding: 5px 8px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: 0.3s ease;
}


.contact .contact-left form .submit-button button:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 3px #000;
}

.contact .contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: auto;
    max-width: 100%;
}

.contact .contact-right nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    padding-left: 50px;
    max-width: 100%;
}

.contact .contact-right nav ul li {
    display: flex;
    align-items: center;
    margin: 10px;
    height: 50px;
}

.contact .contact-right nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-left: 5px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {

  .home,
  .aboutme,
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .aboutme .sidebar {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
  }

  .aboutme .descriptions {
    height: auto;
    width: 100%;
  }

  .aboutme .descriptions .para {
    width: 100%;
    height: auto;
  }

  .experience .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "box-1"
      "box-3"
      "box-4"
      "box-2";
  }

}


@media (max-width: 768px) {

  header {
    padding: 10px;
  }

  header nav {
    width: auto;
    margin-right: 10px;
  }

  header nav ul {
    gap: 15px;
  }

  .home {
    text-align: center;
  }

  .home .hero .socials {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .home .hero-img {
    width: 250px;
    height: 250px;
    margin: 30px 0;
  }

  .aboutme .descriptions .languages .techs {
    grid-template-columns: 1fr;
    height: auto;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contact .contact-left,
  .contact .contact-right {
    width: 100%;
  }

}

